spring:
  application:
    name: payment-core

  datasource:
    url: jdbc:postgresql://localhost:5432/payment_db
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: validate